---
layout: blog
title: index
permalink: /
---
<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <div id="brand-wrapper">
          <div id="brand-button">
              <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
          </div>
          <div id="brand-phone">
              <a class="phone phone1"><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
            </svg><span>{{ site.phone }}</span></a>
            <a class="phone phone2"><svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
          </svg><span>{{ site.phone2 }}</span></a>
          </div>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        
        
        <ul class="nav navbar-nav navbar-right" id="i18_navbar">
          {% for section in site.data.landing %}
          <li>
            {% if section.page %}
              <a class="page-scroll" href="{{ section.page}} ">
            {% else %}
              <a class="page-scroll" href="{{ section.id | prepend: '#'}} ">
            {% endif %}
              <span data-i18n="{{ section.i18n }}">{{ section.name }}</span>
            </a>
          </li>
          {% endfor %}
          {% for language in site.data.index.language %}
          <li>
            <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
              <img src="{{ language.flag | prepend: site.baseurl }}" height="16" width="16">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
{% if site.index_carousel %}
{% include carousel.html %}
{% endif %}

{% for section in site.data.landing %}
{% assign loopindex = forloop.index | modulo: 2 %}
<section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0;">
  {% include sections/{{section.tpl}} %}
</section>
{% endfor %}
<style>
iframe {
  -moz-transform: scale(0.25, 0.25);
  -webkit-transform: scale(0.25, 0.25);
  -o-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25);
  transform: scale(0.25, 0.25);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
</style>
<!-- <iframe src="https://www.maimemo.com/share/page/?uid=779139&pid=660" style="display: none;"></iframe> -->
