$primary: #ff3d33;
$primary-white: #fbfbfb;
$enphasis: #A239CA;
$primary-dark: #293846;
$dark-grey:  #676a6c;
$light-grey: #999c9e;
$black: #2A2E36;

$active: #0073B1;

$success: lighten($active, 20%);
$info: #23c6c8;
$green: #16987e;

$warning: #f8ac59;

$code: #ca4440;

$error: #ed5565;

$transparent: rgba(0,0,0,0);

$brand_button_width: 160px;

